@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


.home {
    font-family: 'Nunito Sans', sans-serif;
}
.numbers{
    color: 16px;
    font-weight: 700;
    color: #FFDD1E;
}
.contact-us{
    border: 1px solid #FFDD1E;
    border-radius: 25px;
    background-color: transparent;
    padding: 6px 14px;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 600;
}
.contact-us:hover{
    
    background-color: #FFDD1E;
    
}
.navbar-container {
    display: flex;
    align-items: center;
}

.Contact-sec {
    background-color: #01539D;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    height: 50px;
}

.vector {
    padding-bottom: 2px;
}

.sub-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sub-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 0px;
}

.header-section {
    background-color: #044691;

}

.choose {
    display: flex;
    gap: 15px;
    margin-top: 2rem;
}

.syllabus {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.premium {
    color: #F9CE20;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.batch {
    font-size: 35px;
    color: #FFDD1E;
    font-weight: 700;
}

.sessions {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.accountancy {
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}

/* 4th section */
.captions {
    padding-top: 5rem;
}

.sub-heading {
    display: flex;
    align-items: end;
}

.sub-heading h3 {
    font-weight: 700;
    font-size: 35px;
    color: #01539D;
}

/* 5th */
.view-sec {
    padding-top: 35px;
    padding-bottom: 4rem;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.text-overlay p {
    margin: 0;

}

.types {
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.plus {
    color: #33C7CA;
    font-size: 40px;
    font-weight: 800;
}

.viewers {
    font-size: 40px;
    font-weight: 800;
    color: #01539D;
}

.view-types {
    color: #1E1E1E;
}

/* 6th */

.about {
    background-image:
        linear-gradient(#2AA7B5, #01539D),
        url("Assets/MaskGroup.png");
    /* background-image: url('./Assets/Mask\ group\ 2.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #FFFFFF;

}

.read {
    border: 1px solid #FFDD1E;
    border-radius: 25px;
    background-color: transparent;
    padding: 11px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.reason-title {
    font-size: 45px;
    font-weight: 700;
}

.reason {
    font-weight: 400;
    font-size: 17px;
}

/* 7th */
.join-deecee {
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
}

.join {
    text-align: center;
    color: #01539D;
    font-size: 40px;
    font-weight: 700;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.revision {
    display: flex;
    justify-content: center;
    align-items: center;
}

.revision2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.revisions2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
    margin-top: 15px;
    display: flex;
}

.detail-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
    margin-top: 15px;
    display: flex;

}

.access-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
    margin-top: 15px;
    display: flex;

}

.details1 {
    font-size: 20px;
}

.master {
    color: #01539D;
    font-size: 20px;
    font-weight: 600;
}

/* 9th */
.app {
    background: linear-gradient(to right, #1A94FF, #33C7CA);
}

.groups {
    background-color: black;
    border-radius: 10px;
    padding: 20px 30px;
}

.groups-set {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

}

.app-content {
    text-align: left;
}

.app-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.get_app {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.get_app_para {
    font-size: 25px;
    font-weight: 400;
}

/* 10th */

.message {
    background-image:
        linear-gradient(#08447a, #01539D),
        url("Assets/MaskGroup.png");
    /* background-image: url('./Assets/Mask\ group\ 2.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #FFFFFF;

}

.sub-imgs h5 {
    padding-top: 10px;
}
.founder{
    font-size: 40px;
    font-weight: 700;
}
.arora1{
    float: left;
    position: relative;
}

.searches{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding-bottom: 3rem;
}
/* 11th */

.first-input {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.custom-select-icon {
    position: relative;
    width: 100%;
}

.custom-select-icon select {
    background-size: 10px;
    background-image: url('./Assets/Vector-arrow.png');
    background-repeat: no-repeat;

}
.call-back{
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    padding: 26px 50px;
}

.callback-form{
    padding: 5rem 5rem;
}
.callback-title{
    color: #01539D;
    font-size: 40px;
    font-weight: 700;
}
.callback-subtitle{
    font-size: 20px;
    color: #596670;
    font-weight: 400;
}
.submit-btn button{
    background-color: #FFDD1E;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #1E1E1ECC;
    padding: 11px 20px;
    margin-top: 20px;
}

.submit-btn {
    text-align: right;
    /* margin-top: 0rem; */
    position: relative;
    top: 51px;
}

.footer-contact{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.blue {
    background-color: #01539D;
    border-radius: 50%;
    padding: 3px 8px;
}
/* 12th */
.popular{
    font-weight: 700;
    font-size: 30px;
    color: #01539D;
}

/* footer */
.downloads {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    padding: 9px 10px;
    border-radius: 10px;
}
.downloads img {
    height: 20px;
}
.download-set{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    
}
.social-medias{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.footer-sec h6{
    font-weight: 700;
    font-size: 16px;
    color: #1E1E1ECC;
}

.reach{
    font-weight: 700;
    font-size: 16px;
    color: #1E1E1ECC;
}

.footer-sec p{
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1ECC;
}

.footer-wrapper{
    padding: 5rem 0rem;
    background-image: url('./Assets/Rectangle\ 29.png');
    
}

.reserve{
    padding: 5rem 5rem;
}
@media only screen and (max-width: 600px) {
    .quick{
        padding-top: 20px;
    }
    .rajat-img{
        height: 210px;
    }
    .vector-img {
        display: none;
    }

    .object {
        height: 8rem;
        width: 180px;
    }
    .object2 {
        height: 6rem;
        width: 180px;
    }

    .first-image,
    .second-image,
    .third-image {
        display: none;
    }

    .fourth-image {
        height: 14rem;
        margin-left: -5rem;
    }

    .premium {
        margin-top: 1rem;
    }

    .phone-img1 {
        height: 190px;
    }

    .phone-img2 {
        height: 190px;
    }

    .app-img {
        display: flex;

        align-items: center;
        gap: 30px;
    }
    .groups {
        
        padding: 6px 9px;
    }
    .groups-set {
        margin-bottom: 14px;
    }

    .app {
        padding-top: 3rem;
    }
    

    .callback-title {
        font-size: 25px;
    }
    .callback-subtitle {
        font-size: 15px;
        
    }
    .first-input{
        flex-direction: column;
    }

    .batch {
        font-size: 25px;
    }

    .accountancy {
        font-size: 40px;
    }
    .syllabus{
        flex-direction: column;
        gap: 0px;
    }
    .sub-heading h3,
    .reason-title,
    .join,
    .get_app,
    .founder {
       font-size: 25px;
    }
    .get_app_para {
        font-size: 18px;
    }
    .callback-form {
        padding: 5rem 0rem;
    }
    .groups-set{
        flex-direction: column;
    }
    .arora1{
        left: 100px;
    }
    .arora2 {
        margin-left: -5rem;
        margin-top: 10rem;
    }
    .green-img{
        position: absolute;
        top: -24px;
        margin-left: 107px;
    }
    .access-box,
    .detail-box{
        flex-direction: column;
    }
}
@media only screen and (max-width: 637px){
    .youtube {
        display: none;
    }
    .emails {
       display: none;
    }
}
@media only screen and (min-width: 600px) {

    .premium {
        margin-top: 1rem;
    }

    .object {
        height: 6rem;
    }
    .object2 {
        height: 6rem;
    }

    .first-image {
        height: 216px;
    }

    .second-image {
        height: 295px;
        margin-left: -189px;
    }

    .third-image {
        height: 295px;
        margin-top: -321px;
        margin-left: 182px;
    }

    .fourth-image {
        height: 236px;
        margin-top: -265px;
    }

    .vector-img {
        display: none;
    }

    .app-img {
        display: flex;

        align-items: center;
        gap: 30px;
    }

    .phone-img1 {
        height: 300px;
    }

    .phone-img2 {
        height: 300px;
    }

    .groups-set {
        margin-bottom: 14px;
    }

    .app {
        padding-top: 3rem;
    }

    .youtube{
        margin-top: -21rem;
    }

    .emails {
        margin-top: -4rem;
        margin-left: -8rem;
    }
    .arora1{
        left: 100px;
    }
    .arora2 {
        margin-left: -5rem;
        margin-top: 10rem;
    }
    .green-img{
        position: absolute;
        top: -24px;
        margin-left: 107px;
    }
}

@media only screen and (min-width: 768px) {
    .choose {
        margin-bottom: 1rem;
    }

    .first-image {
        height: 278px;
    }

    .second-image {
        height: 369px;
        margin-left: -252px;
    }

    .third-image {
        height: 369px;
        margin-top: -395px;
        margin-left: 278px;
    }

    .fourth-image {
        height: 236px;
        margin-top: -418px;
    }

    /* .header-section{
        height: 23rem;
    } */
}

@media only screen and (min-width: 992px) {
    .swiper-button-next.right-arrow::after {
        
        margin-top: -120px;
        
    }
    .swiper-button-prev.left-arrow::after {
        margin-top: -120px;
    }
    .revision {
        width: 90%;
        margin-left: 91px;
        margin-top: 3rem;
    }

    .revision2 {
        width: 90%;
        margin-top: 3rem;
    }

    .revisions2 {
        width: 90%;

    }

    .header-section {
        height: 23rem;
    }

    .second-image {
        height: 369px;
        margin-left: -18rem;
    }

    .third-image {
        height: 368px;
        margin-top: -396px;
        margin-left: 4rem;
    }

    .fourth-image {
        margin-left: -7rem;
        margin-top: -23rem;
        height: 21rem;
    }

    .vector-img {
        display: block;
        margin-top: -8rem;
    }

    .phone-img1 {
        height: 426px;
        margin-top: -5rem;
        margin-left: -4rem;
    }

    .phone-img2 {
        height: 300px;
        margin-top: 46px;
    }
    
    .footer-second{
        padding-left: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    
    .vector-img {

        margin-top: -7rem;
    }

    .third-image {
        height: 368px;
        margin-top: -396px;
        margin-left: 11rem;
    }

    .fourth-image {
        height: 21rem;
        margin-top: -367px;
        margin-left: -5rem;
    }

    .phone-img1 {
        height: 531px;
        margin-top: -8rem;
        margin-left: -3rem;
    }

    .phone-img2 {
        height: 354px;
        margin-top: 49px;
    }

    .sub-imgs {
        text-align: center;
    }
    .arora1{
        left: 180px;
    }
    .green-img {
        
        top: -21px;
        margin-left: 97px;
    }
}
@media only screen and (min-width: 1400px){
    .arora1{
        left: 227px;
    }
    .green-img {
        
        top: -26px;
        margin-left: 105px;
    }
}